*.iml
.gradle
/local.properties
.idea
.vscode
.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
local.properties
/References
*.apk
*.ap_
*.aab
release/
*.jks
*.keystore
.kotlin/
google-services.json